.App {
  /* text-align: center; */
  font-family: 'Raleway',
  sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  /* padding: 50px 50px; */
  /* margin: 50px 50px; */
  width: 90vh;
  
}
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


